<p class="still"> What is biofuel? </p>
<div style="margin: 2% 15%; width: 70%;">
  <hr style="width: 100%;">
  <div class="place">
    <img  class="phto" src="http://biomassfuelproject.weebly.com/uploads/2/9/6/7/29673569/1592375_orig.jpg" width="400" height="400">
  <div style="width: 70%;">
    <h4 style="text-align: center; text-transform: uppercase;"> Biofuel </h4>
  <hr style="width: 40%;text-align: end ">
<!--    <p style="text-align: center; text-transform: uppercase"><b>A level above breathtaking</b></p>-->
  <p style="text-align: center">
    Biofuel is fuel that is produced through contemporary processes from biomass, rather than by the very slow geological processes involved in the formation of fossil fuels, such as oil. Since biomass technically can be used as a fuel directly (e.g. wood logs), some people use the terms biomass and biofuel interchangeably. More often than not, however, the word biomass simply denotes the biological raw material the fuel is made of, or some form of thermally/chemically altered solid end product, like torrefied pellets or briquettes. <br> </p>
<!--  <div style="height: 13%; text-align: center;">-->
<!--    <button style="height: 80%; width: 40px; background: #ffffff; border: ghostwhite 1px solid;" id="color1" [disabled]="count==0" (click)="handleButtonClick('-')">-</button>-->
<!--  <input  style="width: 20%; height: 80%" [(ngModel)]="count" >-->
<!--  <button style="height: 80%; width: 40px; background: #ffffff; border: ghostwhite 1px solid;" id="color" (click)="handleButtonClick('+')">+</button>-->
<!--  <button style="color: white; background-color:black; margin: 2%; height: 80%;" >Add to card</button>-->
<!--  </div>-->
  </div>
</div>
</div>
