<div class="fig">
<img src="https://lh3.googleusercontent.com/proxy/au7LMaQ4QdOgcmy8T7rQK_4EZNsVPmE78AHIQ1emEl9INAvN6nOeiqNIvLmGnHv-v7nKqZYtqvMg8XmC4NVXYIgzuTRzXH4UnoTtPhvYbFBmXhqpN9S5iRj-Hwf_HhGya5o7fl_ie3z_Pr0Sv_uVjJJEb043" width="200" height="100%" >
</div>
<div>
  <ul>
    <li><a href="#"> Home </a></li>
    <li><a href="#">About</a></li>
<!--    <li><a href="#">Price</a></li>-->
    <li><a href="#"> Blog </a></li>
    <li><a href="#"> Style </a></li>

  </ul>
</div>
<img src="https://cdn.shopify.com/s/files/1/2380/0003/articles/PREMIUM-COFFEE-1-860x280_800x.png?v=1561747744" width="1500">
